<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<form  #registerForm>
    <br>
    <h2>User Registration</h2>
  
    <div class="form-group">
        <input type="text" class="form-control" name="username" #username placeholder="User Name" required="required">
   	
    </div>
    <div class="form-group">
        <input type="email" class="form-control" name="email" #email placeholder="Email" required="required">
    </div>
    <div class="form-group">
        <input type="password" (input)="passwordHandler()" class="form-control" name="password" #password placeholder="Password" required="required">
    </div>
    <div class="form-group">
        <input type="password" (input)="passwordHandler()" class="form-control"  name="confirmpassword"  #confirmpassword placeholder="Confirm Password" required="required">
    </div>        
    <div #registerResponse class="text-danger text-center mb-2"></div>
    <div class="form-group">
        <div class="row">
            <div class="Col">

                <button type="submit" name="registerSubmit" #registerSubmit class="btn btn-success btn-lg btn-block">Register Now</button>

            </div>
            <div class="col">
                <button #registerReset type="reset" name="registerReset" class="btn btn-success btn-lg btn-block">Reset</button>
            </div>

        </div>

      
  
    </div>
</form>