<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="row mt-4">

    <div class="col-md-1"></div>

    <div class="col-md-10">

        <div class="mb-3 font-weight-bold text-center">Admins</div>
        <div #processStatus class="text-center">Processing...</div>

        <div class="table-responsive" *ngIf="dataArray.length != 0">
            <table class="table table-hover table-sm table-bordered text-center">

                <thead class="bg-light">
                    <tr>
                        <th class="font-weight-bold">S.No</th>
                        <th class="font-weight-bold">Name</th>
                        <th class="font-weight-bold">E-Mail ID</th>
                        <th class="font-weight-bold">Delete</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let data of dataArray; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{data.username}}</td>
                        <td>{{data.emailId}}</td>
                        <td><span (click)="deletedata(data)"><i class="glyphicon glyphicon-trash"></i></span></td>
                        
                    </tr>
                </tbody>

            </table>
        </div>

    </div>

    <div class="col-md-1"></div>

</div>



