<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="row mt-4">

    <div class="col-md-1"></div>

    <div class="col-md-10">

        <div class="mb-3 font-weight-bold text-center">PAYMENT HISTORY</div>
       

        <div class="table-responsive" *ngIf="customersArray.length != 0">
            <table class="table table-hover table-sm table-bordered text-center">

                <thead class="bg-light">
                    <tr>
                        <th class="font-weight-bold">S.No</th>
                        <th class="font-weight-bold">Email</th>
                        <th class="font-weight-bold">Contact</th>
                       
                        <th class="font-weight-bold">amount(Rs.)</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let customer of customersArray; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.contact}}</td>
                       <td>{{customer.amount/100}}</td>
                        
                        
                    </tr>
                </tbody>

            </table>
        </div>

    </div>

    <div class="col-md-1"></div>

</div>





  
<div class="modal fade" id="updateUser" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

    <div class="modal-dialog modal-sm" role="document">

      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Customer</h5>
          <button type="button" #modalClose class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form #modalForm>

            <div class="modal-body">
                <input type="text" #modelProfileId name="modalProfileId" hidden />
                
                <div class="input-group mb-3">
                    <div class="input-group-prepand">
                        <span class="input-group-text"><font color="black"><i class="fas fa-user"></i></font></span>
                    </div>
                    <input type="text" #modalUname name="modalUname" class="form-control" placeholder="Username" required />
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepand">
                        <span class="input-group-text pl-3 pr-3"><font color="black"><i class="fas fa-mobile"></i></font></span>
                    </div>
                    <input type="number" #modalEmail  name="modalEmail" class="form-control" placeholder="Mobile Number" />
                </div>
                
                <div #modalResponse class="text-center text-danger"></div>
            </div>

            <div class="modal-footer">
                <button #modalSubmit type="submit" class="btn btn-sm btn-purple">Proceed</button>
               
            </div>

        </form>

      </div>

    </div>

</div>